@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@keyframes flicker {
    
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    
      text-shadow:
          -0.2rem -0.2rem 1rem #fff,
          0.2rem 0.2rem 1rem #fff,
          0 0 2rem var(--neon-text-color),
          0 0 4rem var(--neon-text-color),
          0 0 6rem var(--neon-text-color),
          0 0 8rem var(--neon-text-color),
          0 0 10rem var(--neon-text-color);
      
      box-shadow:
          0 0 .5rem #fff,
          inset 0 0 .5rem #fff,
          0 0 2rem var(--neon-border-color),
          inset 0 0 2rem var(--neon-border-color),
          0 0 4rem var(--neon-border-color),
          inset 0 0 4rem var(--neon-border-color);        
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
      box-shadow: none;
  }    
}

/* width */
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  margin-left: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #282a36;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff79c6;
  border-radius: 100vh;
  border: 3px solid #282a36;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff79c6;
}
